/* Navigation */

#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}


/* Home section */

#home{
    height: 434px;
    padding: 2px 50px;
}
#home::before{
    height: 567px;
}

#home p{
    font-size: 13px;
}


/* Services Section */

#services{
    flex-direction: column;
}
#services .box{
    flex-direction: column;
}
.box{
    transform: none;
}
#services .box {
    padding: 8px;
    margin: 3px 0px;
}

#services .box img {
    height: 66px;
}

/* Client Section */

#clients{
    flex-wrap: wrap;
}


/* Contact us section */
#contact-box form{
    width: 60%;
}


/* Footer */


/* Utility Classes */
.h-primary{
    font-size: 26px;
}

.h-secondary{
    font-size: 20px;
}
.btn{
    font-size: 13px;
    padding: 5px;
}